@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}


.imgPersonal {
    border: 4px solid;
    border-image: linear-gradient(to right bottom, #ba72e2 15%, #5c0b86);
    border-image-slice: 1;
    border-radius: 8px;
}

.bg-img-footer {
    background-image: url('./assets/img-Footer/BG-footer.png');
    background-size: cover;
}